html,
body {
	height: 100%;/*sticky footer*/
	display: flex;/*sticky footer*/
	flex-direction: column;/*sticky footer*/
	margin: 0;
	scroll-behavior: smooth;
	font-family: 'Inter';
	font-weight: 400;
	font-size: 1.8rem;
	line-height: 1;
	color: #000;
 }
html{
	font-size: 10px;
}
body > * {
	flex-shrink: 0;
	/*sticky footer*/
  }
.footer{
	margin-top: auto;/*sticky footer*/
}
button{
	cursor: pointer;
}
.container-header{
	max-width: 134rem;
	margin: 0 auto;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
.container{
	max-width: 123rem;
	margin: 0 auto;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
a{
	transition: all .4s ease-in;
}
a:hover{
	transition: all .4s ease-in;
}
.title{
	font-weight: 600;
	font-size: 3.2rem;
	line-height: 1.5;
}
.btn{
	background: #0085ff;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    border: none;
    transition: all .4s ease-in;
	border-radius: 8px;
    box-shadow: 0 16px 24px 0 rgba(0, 133, 255, 0.16);
}
.btn:hover{
	background: #1645aa;
	transition: all .4s ease-in;
}
