.header__inner {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    background: #f1f9ff;
}
.menu__list {
    display: flex;
    gap: 3rem;
}
.menu__list li a{
    font-size: 16px;
    font-weight: 600;
}
.menu__list li a:hover{
    color: #0085ff;
}
.menu__list-item--active{
    position: relative;
}
.menu__list-item--active::before{
    position: absolute;
    content: '';
    width: 18px;
    height: 4px;
    left: 0;
    bottom: -7px;
    background: #0085ff;
}
.header__box {
    display: flex;
    align-items: center;
    gap: 24px;
}
.header__languages {
    display: flex;
    gap: 24px;
}
.header__languages-link {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
}
.header__languages-link--active{
    font-weight: 700;
}
.header__box-link {
    width: 235px;
    height: 48px;
    line-height: 48px;
    box-shadow: 0 16px 24px 0 rgba(0, 133, 255, 0.16);
    background: #0085ff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    color: #fff;
    text-align: center;
}
.header__box-link:hover{
    background: #1645aa;
}