@media(max-width: 1200px){
    .registration-form__inner{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .registration-form__left-title{
        text-align: center;
    }
    .registration-form-btn{
        width: 50%;
        margin: 0 auto;
    }
}



@media(max-width: 1100px){
    html{
        font-size: 9px;
    }
    .header__box-link{
        display: none;
    }
    .header__languages{
        margin: 0 auto;
    }
    .news-box__item-title::after,
    .news-block__left-title::after, .news-item__right-title::after{
        display: none;
    }
    .tasks-block{
        flex-direction: column;
    }
    .tasks-block__title,
    .tasks-block__content{
        width: 100%;
    }
    .tasks-block__title {
        text-align: center;
    }
    .registration--modal .registration-form__inner{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .registration--modal .registration-form{
        padding: 1.5rem;
        padding-bottom: 0;
    }
    .registration--modal{
        width: 600px;
    }
    .registration--modal .registration-form__left,
    .registration--modal .registration-form__right{
        width: 100%;
    }
    .registration--modal .registration-form__item{
        margin-bottom: 10px;
    }
    .registration--modal .registration-form__item span,
    .registration--modal .registration-form__label,
    .registration--modal .registration-form__item-select{
        font-size: 15px;
    }
    .registration--modal .registration-form__left-title{
        margin-bottom: 10px;
        font-size: 22px;
    }
    .registration--modal .registration-form-btn{
        margin-top: 5px;
    }
    .registration-form__label strong{
        display: none;
    }
    .registration--modal .registration-form__item-file{
        width: 100%;
    }
    .registration--modal .registration-form-btn,
    .registration-form__item-file{
        width: 100%;
    }
    .registration-form__inner{
        gap: 0rem;
    }
  
}


@media(max-width: 1000px){
    .heading{
        padding-top: 50px;
    }
    .heading-box{
        flex-direction: column;
    }
    .heading-box__inner,
    .our-services{
        width: 100%;
    }
}



@media(max-width: 900px){
    .heading-block__title{
        font-size: 38px;
    }
    .home-services__item{
        padding: 2rem;
    }
    .news-box__item,
    .goals-block__item{
        width: calc(100% / 2 - 2rem);
    }
    .goals-block{
        flex-wrap: wrap;
    }
    .contacts-block,
    .news-block, .news-item{
        flex-direction: column;
    }
    .contacts-block__info,
    .contacts-block__form,
    .news-block__left, .news-item__left,
    .news-block__right, .news-item__right,
    .news-block__left-img,
    .news-item__left-img{
        width: 100%;
    }
    .contacts-block__btn{
        margin-top: 20px;
    }
    .contacts-block__info-title{
        margin-bottom: 20px;
    }
    .contacts-block__social{
        margin-top: 20px;
    }
    .contacts-block__form{
        padding-top: 0;
    }
    .contacts-block{
        padding-right: 1rem;
    }
    .npa,
    .registry,
    .services{
        padding: 0 0 3rem 0;
    }
    .tabs__item {
        padding: 3rem;
    }
    .document-block__wrapper,
    .tabs-registration__block{
        flex-direction: column;
    }
    .document-block__left,
    .document-block__right,
    .tabs-registration__inner,
    .tabs-registration__content{
        width: 100%;
    }
    .tabs-registration__item{
        overflow-x: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }
    .tabs-registration__item-btn{
        min-width: 205px;
        padding: 10px;
        margin-bottom: 0;
        font-size: 15px;
        line-height: 1.1;
    }
}





@media(max-width: 650px){
    .title{
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 1.4;
    }
    .heading{
        padding: 2rem 0 4rem 0;
    }
    .heading-block__title{
        font-size: 20px;
        line-height: 1.4;
    }
    .heading-block{
        height: 100%;
        padding-left: 20px;
    }
    .footer__inner{
        flex-wrap: wrap;
        gap: 20px;
    }
    .heading-block__btn{
        width: 100%;
    }
    .footer-bottom{
        gap: 15px;
        flex-direction: column;
    }
    .footer-bottom__info{
        order: -1;
    }
    .footer{
        padding: 4rem 0;
    }
    .footer__inner{
        margin-bottom: 20px;
    }
    .footer-menu{
        gap: 5rem;
    }
    .footer-menu__list li{
        margin-bottom: 20px;
    }
    .home-services__item,
    .goals-block__item,
    .tasks-block__item{
        width: 100%;
    }
    .our-services{
        padding: 2rem 0 4rem 0;
    }
    .home-services__item-img{
        margin-bottom: 10px;
        width: 70px;
    }
    .home-services__item-title,
    .home-services__list-item{
       line-height: 1.4;
    }
    .home-services__list-item{
        margin-left: 20px;
        font-size: 16px;
    }
    .home-services__item{
        padding: 1.5rem;
    }
    .news-box__item{
        width: 100%;
    }
    .home-news__title{
        font-size: 24px;
    }
    .news-box__item-title{
        font-size: 20px;
    }
    .home-news{
        padding: 4rem 0;
    }
    .slider-box__item-text,
    .about-heading__box-subtitle{
        font-size: 18px;
    }
    .slider,
    .about-heading,
    .goals,
    .tasks,
    .principles,
    .contacts{
        padding: 3rem 0;
    }
    .slider__title,
    .slider-box__item-text{
        margin-bottom: 20px;
    }
    .slider-box__item-img{
        width: 50px;
        height: 50px;
    }
    .slick-dots{
        margin-top: 10px;
    }
    .slick-dots li button{
        width: 8px;
        height: 8px;
    }
    .header__languages-link{
        text-transform: none;
    }
    .goals-block{
        gap: 15px;
    }
    .goals-block__item-title{
        margin-bottom: 10px;
    }
    .tasks-block{
        gap: 0;
    }
    .principles-block{
        flex-wrap: wrap;
        gap: 15px;
    }
    .principles-block__item-img{
        margin-bottom: 0;
        width: 50px;
        height: 50px;
    }
    .principles-block__item{
        margin-bottom: 15px;
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .principles-block__item-text{
        font-size: 16px;
        text-align: start;
        line-height: 1.4;
    }
    .contacts-block__info{
        padding: 15px;
    }
    .contacts-block__item{
        width: 100%;
    }
    .contacts-block__item span,
    .contacts-block__item{
        margin-bottom: 0;
    }
    .contacts-block__btn{
        margin-left: 0;
        width: 100%;
    }
    .contacts-block__item--texarea{
        margin-top: 2rem;
    }
    .news-block__item{
        flex-direction: column;
    }
    .news-block__item-img,
    .news-block__content{
        width: 100%;
    }
    .news-block,
    .news-item{
        margin-bottom: 0;
    }
    .news{
        padding: 3rem 0 0 0;
    }
    .pagination-box__list,
    .pagination-box{
        gap: 5px;
    }
    .pagination-box__list li a{
        width: 18px;
        height: 18px;
    }
    .pagination-box__link{
        font-size: 12px;
    }
    .pagination-box__link--left{
        margin-left: 20px;
    }
    .pagination-box__link--left::before{
        left: -20px;
    }
    .pagination-box__link--right{
        margin-right: 20px;
    }
    .pagination-box__link--right::after{
        right: -20px;
    }
    .pagination-box{
        border-top: none;
    }
    .home-news--news{
        padding-bottom: 0;
    }
    .npa-block__form{
        max-width: 100%;
        flex-direction: column;
    }
    .npa-block,
    .registry-block{
        padding: 2rem;
    }
    .npa-block__form-btn,
    .npa-block__elem-select{
        width: 100%;
        height: 45px;
        line-height: 45px;
    }
    .registry-box__item{
        padding: 1rem;
    }
    .registry-block__form{
        flex-direction: column;
    }
    .registry-block__elem,
    .registry-block__form-btn,
    .registry-box__item-text{
        width: 100%;
    }
    .registry-box__item{
        flex-wrap: wrap;
        gap: 1rem;
    }
    .registry-box__item-text:last-child, .registry-box__item-text:nth-child(2){
        text-align: start;
    }
    .tabs{
        flex-direction: column;
    }
    .tabs__inner,
    .tabs__content{
        width: 100%;
    }
    .tabs__wrapper{
        padding: 2rem;
    }
    .tabs__content-title{
        margin-bottom: 15px;
    }
    .tabs__elem span{
        text-align: right;
    }
    .tabs__elem{
        padding: 1rem;
        margin-bottom: 10px;
    }
    .tabs__item{
        padding: 1rem;
        display: flex;
        overflow-x: auto;
    }
    .tabs__item-btn{
        margin-bottom: 0;
        padding: 0 15px;
    }
    .tabs__item-btn::before{
        width: 20px;
        height: 20px;
        left: -1.5rem;
        top: 2px;
    }
    .news-box__item-img{
        margin-bottom: 10px;
    }
    .registry-block__elem--date{
        position: relative;
    }
    .registry-block__elem--date::before{
        position: absolute;
        content: '';
        width: 25px;
        height: 25px;
        top: 35px;
        left: 8px;
        background: url('../images/home/calendar.svg') no-repeat;
    }
    .registry-block__elem--date .registry-block__elem-input{
        padding-left: 4rem;
    }
    .registration--modal{
        width: 320px;
    }
    .registration--modal .registration-form{
        padding: 0;
        padding-top: 10px;
    }
    .registration-form__item-file::after{
        display: none;
    }
    .tabs-registration{
        padding: 0 0 3rem 0;
    }
    .registration-form__left,
    .registration-form__right,
    .registration-form-btn{
        width: 100%;
    }
    .registration-form,
    .tabs-registration__wrapper,
    .document-block{
        padding: 2rem;
    }
    .document-block__left-subtitle{
        margin-bottom: 5px;
    }
    .tabs-registration__content-title{
        margin-bottom: 2rem;
        font-size: 24px;
    }
    .tabs-registration__box-title{
        font-size: 16px;
    }
    .tabs-registration__box-img img{
        width: 20px;
        height: 20px;
    }
    .tabs-registration__box-item{
        margin-bottom: 3rem;
    }
    .tabs-registration__block{
        gap: 1rem;
    }
    .tabs-registration__box-img::before{
        left: -6px;
        top: 25px;
    }
    .tabs-registration__content-title{
        font-size: 20px;
    }
    .upload-block{
        max-width: 320px;
    }
}