.nav-icon{
    width: 33%;
    display: none;
}
.nav-icon__middle{
    position: relative;
    width: 33px;
    height: 3px;
    background-color: black;
    transition: all .2s ease-in;
}
.nav-icon__middle::after,
.nav-icon__middle::before{
    position: absolute;
    content: '';
    width: 33px;
    height: 3px;
    background-color: black;
}
.nav-icon__middle::after{
    bottom: 9px;
    transition: all .2s ease-in;
}
.nav-icon__middle::before{
    top: 9px;
    transition: all .2s ease-in;
}

.nav-icon.nav-icon--active .nav-icon__middle{
    background-color: transparent;
    transition: all .2s ease-in;
}
.nav-icon.nav-icon--active .nav-icon__middle::after{
    transform: rotate(45deg);
    bottom: 0;
    transition: all .2s ease-in;
}
.nav-icon.nav-icon--active .nav-icon__middle::before{
    transform: rotate(-45deg);
    top: 0; 
    transition: all .2s ease-in;
}






@media(max-width:800px){
    .menu{
        position: fixed;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        left: 0;
        top: 0;
        transition: all .4s ease-in;
        transform: translateX(-100%);
        z-index: 1;
    }
    .menu.nav--active{
        transform: translateX(0);
    }
    .nav-icon{
        display: flex;
        justify-content: flex-end;
        z-index: 2;
    }
    ul[class].menu__list{
        height: 100%;
        flex-direction: column;
        padding: 30px;
        justify-content: center;
        align-items: center;
    }
    .menu__list-item + .menu__list-item{
        margin-left: 0px;
    }
    .menu__list-item{
        margin-bottom: 20px;
    }
    .menu__list li a{
        font-size: 18px;
    }
    .logo,
    .header__box{
        width: 33%;
    }
}
